.top-container
{
    /*background-color: red;*/
    margin-right: 20%;
    margin-left: 20%;
    min-height: 60px;
    border-bottom: 1px solid darkgrey;
    position: relative;
}
.top-left
{
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
    float:left;
    color: white;
}
#location-icon
{
    width: 12px;
    margin-top: 2px;
}
.top-left p
{
    display: inline-block;
}
#email-icon
{
    width: 17px;

}
.top-right
{
    float: right;
    margin-top: 15px;
}
.flag
{
    width: 25px;
    float: right;
    cursor: pointer;
}
.top-right img
{
    margin-left:10px;
    margin-top: 7px;
}
.login
{
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: white;
    width: 80px;
    height: 27px;
    border-radius: 17px;
    border:1.5px solid white;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}
.login:hover
{
  background-color: #1D9CC9;
    transition: 0.8s;
}

.singup
{
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    width: 80px;
    height: 27px;
    border-radius: 17px;
    background-color: #1D9CC9;
    border:1.5px solid #1D9CC9;
    color: white;
    cursor: pointer;
}
.header-image
{
    height: 1400px;
    width: 100%;
    background-image: url('../img/bg-img.jpg');
    margin-top:-500px;
    box-sizing: border-box;

}
.top-menu
{
    margin: 25px 20% 0 20%;
}

.logo
{
    font-size: 30px;
    float: left;
    color: white;
}
.menu
{
    margin-left: 250px;
}
.menu li
{
    float: left;
    margin-left: 30px;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color:white;
    list-style-type: none;
    margin-top: 13px;
}
.menu li::after
{
    /*font-family: ElegantIcons;*/
    /*font-style: normal;*/
    /*font-weight: 1000;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    content: '\25bc';
    color: white;
}
.content
{
    width: 100%;
    height: 1000px;
    background-color: lightgray;
}